* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "African";
  src: url("./african.ttf") format("truetype");
}

a {
  font-family: "African";
} */

#background-header {
  background-image: url("./images/banner.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 37vh;
  width: 100%;
}

.social-icon {
  height: 25px;
}

#footer,
.social-link {
  display: flex;
  justify-content: space-around;
}

#footer {
  width: 80%;
}

.social-icon,
footer.container p,
footer.container a {
  color: grey;
  fill: grey;
}

footer.container a:hover,
footer.container div a:hover p {
  color: green;
}

footer.container a {
  text-decoration: none;
}
